<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">User App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" routerLink="users">Users</a>
          <a class="nav-link" routerLink="albums">Albums</a>
          <a class="nav-link" routerLink="posts">Posts</a>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-danger" (click)="logout()">Logout</button>
  </nav>
</div>
<router-outlet></router-outlet>