<div class="container">
    <div class="row mt-2">
        <div class="col">
            <h2 class="float-left">Users</h2>
            <button mat-raised-button color="primary" class="float-right" routerLink="create">Create User</button>
        </div>
    </div>
    <mat-form-field style="width:100%">
        <mat-label>Search</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. any text" #input>
      </mat-form-field>
    <hr>

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <!--id  Column -->
        <ng-container matColumnDef="id">
           <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
           <td mat-cell *matCellDef="let user"> {{user.id}} </td>
         </ng-container>

          <!-- Name Column -->
        <ng-container matColumnDef="name">
           <th mat-header-cell *matHeaderCellDef mat-sort-header>Name </th>
           <td mat-cell *matCellDef="let user"> {{user.name}} </td>
         </ng-container>

          <!-- User Name Column -->
        <ng-container matColumnDef="username">
           <th mat-header-cell *matHeaderCellDef mat-sort-header> User Name</th>
           <td mat-cell *matCellDef="let user"> {{user.username}} </td>
         </ng-container>

          <!--Email  Column -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
            <td mat-cell *matCellDef="let user"> {{user.email}} </td>
          </ng-container>
 
           <!-- Address Column -->
         <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef>Address</th>
            <td mat-cell *matCellDef="let user">
              <span matTooltip="Street: {{user.address.street}} | 
              Suite : {{user.address.suite}} |
              Zip code: {{user.address.zipcode}} |
              Geo: {{user.address.geo.lat}}, {{user.address.geo.lng}}"> 
              {{user.address.city}} </span>                
                                     
            </td>
          </ng-container>
 
           <!-- Phone Column -->
         <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef> Phone </th>
            <td mat-cell *matCellDef="let user"> {{user.phone}} </td>
          </ng-container>

            <!-- Website Column -->
         <ng-container matColumnDef="website">
            <th mat-header-cell *matHeaderCellDef >Website</th>
            <td mat-cell *matCellDef="let user"> {{user.website}} </td>
          </ng-container>
 
           <!-- Company Column -->
         <ng-container matColumnDef="company">
            <th mat-header-cell *matHeaderCellDef > Company </th>
            <td mat-cell *matCellDef="let user">                
                    <span matTooltip="CatchPhrase: {{user.company.catchPhrase}} | BS: {{user.company.bs}}">
                        {{user.company.name}}</span>                 
             </td>
          </ng-container>
 
         <ng-container matColumnDef="update">
           <th mat-header-cell *matHeaderCellDef>Update</th>
           <td mat-cell *matCellDef="let user"> 
            <button mat-button color="primary" (click)="update(user.id)">Update</button>
           </td>
         </ng-container>
         
         <ng-container matColumnDef="delete">
           <th mat-header-cell *matHeaderCellDef> Delete </th>
           <td mat-cell *matCellDef="let user"> 
             <button mat-button color="warn" (click)="delete(user.id)">Delete</button> 
           </td>            
         </ng-container>

         <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
         <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
         
     </table>

       <mat-paginator [pageSizeOptions]="[5, 10, 20, 30]" showFirstLastButtons></mat-paginator>


    <!-- <mat-card class="mt-2" *ngFor = "let user of users">
        <div class="row">
            <div class="col-lg-4">
                <h4 class="bg-primary text-white">Users Details:</h4>
                <ul >
                    <li><span>Id: </span>{{user.id}}</li>
                    <li> <span>Name: </span>{{user.name}}</li>
                    <li> <span>User Name: </span>{{user.username}}</li>
                    <li><span>Email: </span>{{user.email}}</li>
                    <li><span>Phone: </span>{{user.phone}}</li>
                    <li><span>Website: </span>{{user.website}}</li>

                </ul>
            </div>
            <div class="col-lg-4">
                <h4 class="bg-primary text-white">Address Details:</h4>
                <ul>
                    <li><span>Street: </span>{{user.address.street}}</li>
                    <li> <span>Suite: </span>{{user.address.suite}}</li>
                    <li> <span>City: </span>{{user.address.city}}</li>
                    <li><span>Zip Code: </span>{{user.address.zipcode}}</li>
                    
                    <span style="font-weight: bold;">Geo:</span>
                    <ul>
                        <li> <span>Lat: </span>{{user.address.geo.lat}}</li>
                        <li><span>Lng: </span>{{user.address.geo.lng}}</li>
                    </ul>
                </ul>
            </div>
            <div class="col-lg-4">
                <h4 class="bg-primary text-white">Company Details:</h4>
                <ul>
                    <li><span>Name: </span>{{user.company.name}}</li>
                    <li><span>Catch Phrase: </span>{{user.company.catchPhrase}}</li>
                    <li><span>Bs: </span>{{user.company.bs}}</li>
                </ul>

                <button class="btn btn-success" (click)="update(user.id)">Update</button>
                <button class="btn btn-danger" (click)="delete(user.id)">Delete</button>
            </div>
        </div>   
    </mat-card> -->
</div>
