<div class="container">

    <form #loginForm="ngForm" class="form" style="padding :15px;">
        <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="staticEmail" name="email" [(ngModel)]="login.email"
                    #email_ref="ngModel" placeholder="email@example.com">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" [(ngModel)]="login.password" name="password"
                    #password_ref="ngModel" id="inputPassword" placeholder="***************">
            </div>
        </div>
        <button type="button" class="btn btn-primary" (click)="loginAction()">Login</button>
        <h3 *ngIf="message=='error'" style="color:red">Invalid Credentials</h3>
    </form>

</div>